A.breadcrumb:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #779B9B; font-weight:none; text-decoration:underline; margin-top:4px }
A.breadcrumb:visited { font-size: 10px;	font-family: Arial, Helvetica, Sans-Serif; color: #779B9B; font-weight:none; text-decoration:underline; margin-top:4px  }
A.breadcrumb:active	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #779B9B; font-weight:none; text-decoration:underline; margin-top:4px  }
div.breadcrumb	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #779B9B; font-weight:none; text-decoration:none; margin-top:4px }

A.parentTitle:link 	{ font-size: 14px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:bold; text-decoration:underline; }
A.parentTitle:visited { font-size: 14px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:bold; text-decoration:underline; }
A.parentTitle:active	{ font-size: 14px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:bold; text-decoration:underline; }

div.textBody	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none;}
div.textCaption	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; margin-top:3px }
div.docTitle	{ font-size: 16px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:bold; text-decoration:none;}
div.pageTitle	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:bold; text-decoration:none;}
div.parentTitleSub { font-size: 14px; font-family: Arial, Helvetica, Sans-Serif; color: #34495C; font-weight:bold; text-decoration:none;}

A.parentSub:link    { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #34495C; font-weight:bold; text-decoration:underline; }
A.parentSub:visited { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #34495C; font-weight:bold; text-decoration:underline; }
A.parentSub:active  { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #34495C; font-weight:bold; text-decoration:underline; }

A.tocText:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; }
A.tocText:visited { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; }
A.tocText:active  { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; }


A.breadcrumbMain:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; margin-top:4px }
A.breadcrumbMain:visited { font-size: 10px;	font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; margin-top:4px  }
A.breadcrumbMain:active	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; margin-top:4px  }
div.breadcrumbMain	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:none; margin-top:4px }

A.copyrightLink:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; }
A.copyrightLink:visited { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; }
A.copyrightLink:active  { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:underline; }
div.copyRightText  { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:none; }

div.copyrightLink  { font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #4E6E8A; font-weight:none; text-decoration:none; }
div.expandCaption  { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #ffffff; font-weight:none; text-decoration:none; margin-top:4px; margin-bottom: 7px; }
div.fanSubmit  { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #879191; font-weight:none; text-decoration:none; }

div.factText	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #879191; font-weight:none; text-decoration:none; margin-top:8px; margin-bottom: 8px; margin-left: 9px; margin-right: 9px;}
A.factFileLink:link 	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #879191; font-weight:none; text-decoration:underline; }
A.factFileLink:visited  { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #879191; font-weight:none; text-decoration:underline; }
A.factFileLink:active	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #879191; font-weight:none; text-decoration:underline; }

#updateRow{
	margin-bottom:12px;
	float:left;
}
#updateRow .img {
	float:left;
	width: 181px; height:115px;
	background: url(/databank/updates/img/update_back_row.gif) no-repeat;
	padding: 1px 0px 0px 1px;
	margin-right:7px;
}


