div.cardText	{ font-family: Arial, Helvetica, sans-serif; font-weight: none; font-size: 12px; color:#000000 }
div.nav_userText	{ font-family: Arial, Helvetica, sans-serif; font-weight: none; font-size: 10px; color:#000000 }
div.cbayText	{ font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; color:#000000; margin-top:3px; }
div.cardTextSm	{ font-family: Arial, Helvetica, sans-serif; font-weight: none; font-style:none; font-size: 10px; color:#000000; }
div.cardTextMd	{ font-family: Arial, Helvetica, sans-serif; font-weight: none; font-size: 11px; color:#000000 }
div.cardTextTips	{ font-family: Arial, Helvetica, sans-serif; font-weight: none; font-style:none; font-size: 12px; color:#000000; }
div.serviceText { font-family: Arial, Helvetica, sans-serif; font-weight: none; font-style:none; font-size: 10px; color:#ffffff; }
A.serviceText:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #ffffff; font-weight:none; text-decoration:none }
A.serviceText:visited { font-size: 10px;	font-family: Arial, Helvetica, Sans-Serif; color: #ffffff; font-weight:none; text-decoration:none  }
A.serviceText:active	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #ffffff; font-weight:none; text-decoration:none  }
A.cardText:link 	{ font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold}
A.cardText:visited { font-size: 11px;	font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold }
A.cardText:active	{ font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold }
A.dropLink:link 	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none }
A.dropLink:visited { font-size: 10px;	font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none }
A.dropLink:active	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none }
form { margin-bottom: 0 ; } 

A.navStory:link 	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none }
A.navStory:visited { font-size: 12px;	font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none  }
A.navStory:active	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:bold; text-decoration:none  }

.itemHead { font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #8C7F73; font-weight:bold; text-decoration:none; }
.text { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #8C7F73; }
.textRed { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #DA0000; }

.textBlack { font-family: Arial, Helvetica, sans-serif; font-weight: none; font-style:none; font-size: 11px; color:#000000; }
.textSmBlack { font-family: Arial, Helvetica, sans-serif; font-weight: none; font-style:none; font-size: 10px; color:#000000; }

A.storeLink:link { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #8C7F73; font-weight: bold; text-decoration:underline; }
A.storeLink:visited { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #8C7F73; font-weight: bold; text-decoration:underline; }
A.storeLink:active { font-size: 11px; font-family: Arial, Helvetica, Sans-Serif; color: #8C7F73; font-weight: bold; text-decoration:underline; }

div.textBody	{ font-size: 12px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; }
div.textCaption	{ font-size: 10px; font-family: Arial, Helvetica, Sans-Serif; color: #000000; font-weight:none; text-decoration:none; margin-top:3px }

hr {
border: 0;
color: #000000;
background-color: #000000;
height: 1px;
width: 100%;
text-align: left;
margin-bottom:10px;
}