.fixed2{left:36px}
.nav-sommaire ul{margin:10px 0 0 5px}
#divResultSearch{margin-right:25px}
#divSearchSubmit{float:right;width:120px}
#searchSubmit{border:1px solid #ddd;cursor:pointer;margin-left:5px;width:120px;background:#f0f0f0}
#resultSearch{width:90%}
